<section class="hero is-primary">
  <div class="hero-body">
    <p class="title">
      RecipeCreator v1.0
    </p>
    <p class="subtitle">
      Edit and create Recipes with ease!
    </p>
  </div>
</section>
<div class="container">
  <section class="section">
    <div class="content">
      <h1>Welcome!</h1>
      <p>Cooking recipes are something almost everybody knows, and will encounter on a regular basis in the mundane life.<br>
        However finding, managing and creating recipes is often a difficult and tedious task.
        Many, will simply use their notes app on their phone, or MS Word on their computer to write down the instructions and ingredients.<br>
        <br>
        This project aims to explore technical methods, namly natural language processing, to process and aid in the creation and classification of cooking recipes.
      </p>
      
      <h2>Technology used</h2>
      <p></p>
      <ul>
        <li>Frontend: <a href="https://angular.io/cli">Angular (CLI)</a> / Typescript / JS</li>
        <li>Backend: Python 3.6</li>
        <li>Webserver: Flask, Flast-RestX (<a href="/api/doc">Documentation</a>)</li>
        <li>NLP Libaries: 
          gensim, 
          pyLDAvis, 
          nltk, 
          spacy, 
          tensorflow
          </li>
        <li>Other central utils: sqlite, mysql, re</li>
      </ul>

      <h2>Data used</h2>
      <p>The cenetral data for this project is based on data provided by Bauer Media and the German Government. <br>
        As a result all the models and parts of this website are in the german language.<br>
        However due to licensing, the data will not be included in the public project. Instead some generated exploratory data with the originally trained models is provided</p>
      <ul>
        <li><a href="https://www.blsdb.de/">Bundeslebensmittelschlüssel (BLS)</a></li>
        <li><a href="https://www.bauermedia.com/">Bauer Media</a></li>
      </ul>
    </div>
  </section>
</div>

