#seachField {
    background-image: url('/assets/icons/searchicon.png');
    background-position: 10px 12px; 
    background-repeat: no-repeat; 
    width: 100%;
    padding: 12px 20px 12px 40px; 
    border: 1px solid #ddd; 
    margin-bottom: 12px; 
    font-size: 16px;
  }
  
  #searchTable {
    border-collapse: collapse; 
    border: 1px solid #ddd;
    width: 100%;
    font-size: 18px; 
    margin: 2rem;
  }
  
  #searchTable th, #searchTable td {
    text-align: left;
    padding: 12px;
  }
  
  #searchTable tr {
    border-bottom: 1px solid #ddd;
  }
  
  #searchTable tr.header, #searchTable tr:hover {
    background-color: #f1f1f1;
  }