<section class="container">
    <section class="section">
        <h1 class="title">Rezept Suche</h1>
        <input type="text" id="seachField" placeholder="Suche nach Rezepten.." #search>


        <div *ngFor="let searchResult of searchResults;">
            <div class="tile is-ancestor">
                <app-result [searchResult]="searchResult">
                </app-result>
            </div>
        </div>

        <nav class="pagination is-centered" role="navigation" aria-label="pagination">
            <a class="pagination-previous"><</a>
            <a class="pagination-next">></a>
            <ul class="pagination-list">
                <li><a class="pagination-link" aria-label="Goto page 1">1</a></li>
                <li><span class="pagination-ellipsis">&hellip;</span></li>
                <li><a class="pagination-link" aria-label="Goto page 45">45</a></li>
                <li><a class="pagination-link is-current" aria-label="Page 46" aria-current="page">46</a></li>
                <li><a class="pagination-link" aria-label="Goto page 47">47</a></li>
                <li><span class="pagination-ellipsis">&hellip;</span></li>
                <li><a class="pagination-link" aria-label="Goto page 86">86</a></li>
            </ul>
        </nav>
    </section>
</section>